## Ejercicio 1

In [3]:
#    Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
#     "Fuentes_Consumo_Energia.csv".
#     Esta función debe informar la cantidad de registros cuya entidad sean Colombia o México retornando ese valor en un dato
#     tupla (Colombia, México).
#     Pista averiguar la funcion Shape

In [13]:
import pandas as pd
import numpy as np

In [14]:
df= pd.read_csv('datasets/Fuentes_Consumo_Energia.csv',sep=',')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5190 entries, 0 to 5189
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entity                  5190 non-null   object
 1   Code                    4145 non-null   object
 2   Year                    5190 non-null   int64
 3   Coal_Consumption_EJ     5170 non-null   float64
 4   Gas_Consumption_EJ      5170 non-null   float64
 5   Geo_Biomass_Other_TWh   5115 non-null   float64
 6   Hydro_Generation_TWh    5170 non-null   float64
 7   Nuclear_Generation_TWh  5170 non-null   float64
 8   Solar_Generation_TWh    5170 non-null   float64
 9   Wind_Generation_TWh     5170 non-null   float64
 10  Oil_Consumption_EJ      5184 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 446.1+ KB

In [15]:
df.sample(2)

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
4526,Thailand,THA,1976,0.006692,0.000000,0.000,3.637,0.000,0.0,0.0,0.373215
2173,Italy,ITA,1968,0.398667,0.371857,3.617,42.677,2.576,0.0,0.0,2.958676

In [46]:
mascaraME=df[(df['Entity']=='Mexico')].shape

In [42]:
mascaraME.shape

(55, 11)

In [48]:
mascaraCOL=df[(df['Entity']=='Colombia')].shape

In [44]:
mascaraCOL.shape

(55, 11)

In [49]:
print((mascaraCOL[0],mascaraME[0]))

(55, 55)

In [51]:
def Ret_Pregunta01():
    mascaraCOL=df[(df['Entity']=='Colombia')].shape
    mascaraME=df[(df['Entity']=='Mexico')].shape
    resultado=((mascaraCOL[0],mascaraME[0]))
    return (resultado)

### Ejercicio 2

In [ ]:
# Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
# "Fuentes_Consumo_Energia.csv".
# Esta función debe eliminar las columnas 'Code' y 'Entity' y luego informar la cantidad de columnas
# retornando ese valor en un dato de tipo entero.

In [64]:
df= pd.read_csv('datasets/Fuentes_Consumo_Energia.csv',sep=',')
df.drop(['Code','Entity'],inplace=True,axis=1)
df

,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
0,1965,1.164586,0.034358,0.000000,13.905635,0.000000,0.000000,0.000000,1.173241
1,1966,1.163240,0.038412,0.000000,15.510004,0.000000,0.000000,0.000000,1.284154
2,1967,1.189050,0.037964,0.000000,16.190636,0.000000,0.000000,0.000000,1.273799
3,1968,1.236646,0.038480,0.000000,18.938341,0.000000,0.000000,0.000000,1.344219
4,1969,1.247915,0.044971,0.000000,22.100890,0.000000,0.000000,0.000000,1.362729
...,...,...,...,...,...,...,...,...,...
5185,2015,157.838896,125.208335,538.277477,3884.619692,2575.763561,256.838045,831.567439,183.210968
5186,2016,155.504177,128.124027,547.865908,4012.947981,2614.905286,328.237428,963.774036,186.912413
5187,2017,156.094106,131.708206,582.893132,4065.869592,2638.554157,446.946764,1140.971268,189.242920
5188,2018,158.793935,138.659832,615.038237,4171.404951,2700.373917,582.754345,1270.164880,191.451896
5189,2019,157.857047,141.452770,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574

In [77]:
columnas=df.shape
print(int(columnas[1]))

9

In [ ]:
def Ret_Pregunta02():
    df= pd.read_csv('datasets/Fuentes_Consumo_Energia.csv',sep=',')
    df.drop(['Code','Entity'],inplace=True,axis=1)
    columnas=df.shape
    return (int(columnas[1]))

### Ejercicio 3

In [ ]:

# Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
# "Fuentes_Consumo_Energia.csv".
# Esta función debe informar la cantidad de registros de la columna Year sin tener en cuenta aquellos con valores faltantes
# retornando ese valor en un dato de tipo entero.

In [84]:
df= pd.read_csv('datasets/Fuentes_Consumo_Energia.csv',sep=',')
df.dropna()

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
55,Algeria,DZA,1965,0.002931,0.026750,0.000000,0.400000,0.000000,0.000000,0.000000,0.055459
56,Algeria,DZA,1966,0.002847,0.027789,0.000000,0.355000,0.000000,0.000000,0.000000,0.072982
57,Algeria,DZA,1967,0.002177,0.026958,0.000000,0.410000,0.000000,0.000000,0.000000,0.068191
58,Algeria,DZA,1968,0.002303,0.028344,0.000000,0.563000,0.000000,0.000000,0.000000,0.072602
59,Algeria,DZA,1969,0.002931,0.037266,0.000000,0.361000,0.000000,0.000000,0.000000,0.076701
...,...,...,...,...,...,...,...,...,...,...,...
5185,World,OWID_WRL,2015,157.838896,125.208335,538.277477,3884.619692,2575.763561,256.838045,831.567439,183.210968
5186,World,OWID_WRL,2016,155.504177,128.124027,547.865908,4012.947981,2614.905286,328.237428,963.774036,186.912413
5187,World,OWID_WRL,2017,156.094106,131.708206,582.893132,4065.869592,2638.554157,446.946764,1140.971268,189.242920
5188,World,OWID_WRL,2018,158.793935,138.659832,615.038237,4171.404951,2700.373917,582.754345,1270.164880,191.451896
5189,World,OWID_WRL,2019,157.857047,141.452770,651.811211,4222.214992,2795.961529,724.086506,1429.619982,193.031574

In [82]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5190 entries, 0 to 5189
Data columns (total 11 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entity                  5190 non-null   object
 1   Code                    4145 non-null   object
 2   Year                    5190 non-null   int64
 3   Coal_Consumption_EJ     5170 non-null   float64
 4   Gas_Consumption_EJ      5170 non-null   float64
 5   Geo_Biomass_Other_TWh   5115 non-null   float64
 6   Hydro_Generation_TWh    5170 non-null   float64
 7   Nuclear_Generation_TWh  5170 non-null   float64
 8   Solar_Generation_TWh    5170 non-null   float64
 9   Wind_Generation_TWh     5170 non-null   float64
 10  Oil_Consumption_EJ      5184 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 446.1+ KB

In [86]:
Contar_years=df['Year'].shape
Contar_years

(5190,)

In [88]:
print(int(Contar_years[0]))

5190

In [ ]:
def Ret_Pregunta03():
    Contar_years=df['Year'].dropna().shape[0]
    return(int(Contar_years[0]))

### Ejercicio 4

In [ ]:
    # Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
    # "Fuentes_Consumo_Energia.csv".
    # El ExaJulio es una unidad diferentes al TWh, es decir, no tiene sentido sumarlos o
    # buscar proporciones entre ellos, la fórmula de conversión es:
    # 277.778 Teravatios/Hora (TWh) = 1 Exajulio
    # Los campos terminados en "_EJ" corresponden a mediciones en Exajulios,
    # y los terminados en "_TWh" corresponden a Teravatios/Hora.
    # La consigna es crear un nuevo campo, que se denomine "Consumo_Total"
    # y que guarde la sumatoria de todos los consumos expresados en Teravatios/Hora
    # (convirtiendo a esta medida los que están en Exajulios)
    # Esta función debe informar el consumo total para la entidad 'World' y año '2019',
    # redondeado a 2 decimales, retornando ese valor en un dato de tipo float.

In [112]:
df= pd.read_csv('datasets/Fuentes_Consumo_Energia.csv',sep=',')
df.sample(3)

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ
4653,Turkey,TUR,1993,0.661347,0.170695,0.134000,33.950900,0.000,0.0,0.00000,1.165534
2093,Ireland,IRL,1998,0.119549,0.117565,0.085015,0.916000,0.000,0.0,0.16903,0.315612
4084,South & Central America,NaN,1974,0.310592,0.874640,2.378219,106.896427,1.062,0.0,0.00000,5.887116

In [117]:
df['Consumo_Total']=((df['Coal_Consumption_EJ']+df['Gas_Consumption_EJ']+df['Oil_Consumption_EJ'])*277.778 
                     + df['Geo_Biomass_Other_TWh']+df['Hydro_Generation_TWh']+df['Nuclear_Generation_TWh']
                     +df['Solar_Generation_TWh']+df['Wind_Generation_TWh'])
df.head(3)

,Entity,Code,Year,Coal_Consumption_EJ,Gas_Consumption_EJ,Geo_Biomass_Other_TWh,Hydro_Generation_TWh,Nuclear_Generation_TWh,Solar_Generation_TWh,Wind_Generation_TWh,Oil_Consumption_EJ,Consumo_Total
0,Africa,NaN,1965,1.164586,0.034358,0.0,13.905635,0.0,0.0,0.0,1.173241,672.846431
1,Africa,NaN,1966,1.163240,0.038412,0.0,15.510004,0.0,0.0,0.0,1.284154,706.012010
2,Africa,NaN,1967,1.189050,0.037964,0.0,16.190636,0.0,0.0,0.0,1.273799,710.861484

In [97]:
df.value_counts()

Entity    Code      Year  Coal_Consumption_EJ  Gas_Consumption_EJ  Geo_Biomass_Other_TWh  Hydro_Generation_TWh  Nuclear_Generation_TWh  Solar_Generation_TWh  Wind_Generation_TWh  Oil_Consumption_EJ  Consumo_Total
Algeria   DZA       1965  0.002931             0.026750            0.000000               0.400000              0.000000                0.000000              0.000000             0.055459            15.834945        1
Portugal  PRT       2006  0.138293             0.148264            1.789000               10.919000             0.000000                0.005000              2.925000             0.609417            185.207229       1
                    1976  0.016747             0.000000            0.230000               4.787000              0.000000                0.000000              0.000000             0.306680            90.222752        1
                    1977  0.015198             0.000000            0.234000               9.966000              0.000000                0.000000              0.000000             0.303425            94.500034        1
                    1978  0.017920             0.000000            0.232000               10.811000             0.000000                0.000000              0.000000             0.314466            98.412612        1
                                                                                                                                                                                                                       ..
Hungary   HUN       2011  0.113571             0.392887            1.859000               0.222000              15.685026               0.001000              0.626000             0.300875            102.475904       1
                    2012  0.109273             0.350639            1.655000               0.213000              15.793014               0.008000              0.771181             0.277480            95.977971        1
                    2013  0.095677             0.326885            1.832000               0.213000              15.369604               0.025000              0.717905             0.273840            94.646721        1
                    2014  0.094576             0.292306            2.126000               0.301000              15.648624               0.067000              0.656540             0.304687            103.821395       1
World     OWID_WRL  2019  157.857047           141.452770          651.811211             4222.214992           2795.961529             724.086506            1429.619982          193.031574          63742.928710     1
Length: 4139, dtype: int64

In [100]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5190 entries, 0 to 5189
Data columns (total 12 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Entity                  5190 non-null   object
 1   Code                    4145 non-null   object
 2   Year                    5190 non-null   int64
 3   Coal_Consumption_EJ     5170 non-null   float64
 4   Gas_Consumption_EJ      5170 non-null   float64
 5   Geo_Biomass_Other_TWh   5115 non-null   float64
 6   Hydro_Generation_TWh    5170 non-null   float64
 7   Nuclear_Generation_TWh  5170 non-null   float64
 8   Solar_Generation_TWh    5170 non-null   float64
 9   Wind_Generation_TWh     5170 non-null   float64
 10  Oil_Consumption_EJ      5184 non-null   float64
 11  Consumo_Total           5109 non-null   float64
dtypes: float64(9), int64(1), object(2)
memory usage: 486.7+ KB

In [114]:
mascara_w_2019=(df['Entity']=='World') & (df['Year']==2019)

In [128]:
print(round(float(df[mascara_w_2019].Consumo_Total),2))

146585.3

In [ ]:
def Ret_Pregunta04():
    df['Consumo_Total']=((df['Coal_Consumption_EJ']+df['Gas_Consumption_EJ']+df['Oil_Consumption_EJ'])*277.778 
                     + df['Geo_Biomass_Other_TWh']+df['Hydro_Generation_TWh']+df['Nuclear_Generation_TWh']
                     +df['Solar_Generation_TWh']+df['Wind_Generation_TWh'])
    mascara_w_2019=(df['Entity']=='World') & (df['Year']==2019)
    return round(float(df[mascara_w_2019].Consumo_Total),2)

## Ejercicio 5

In [ ]:
# Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
# Fuentes_Consumo_Energia.csv".
# Esta función debe informar el año de mayor generación de energía hídrica (Hydro_Generation_TWh)
# para la entidad 'Europe' retornando ese valor en un dato de tipo entero.

In [ ]:
df= pd.read_csv('datasets/Fuentes_Consumo_Energia.csv',sep=',')

In [135]:
df.columns

Index(['Entity', 'Code', 'Year', 'Coal_Consumption_EJ', 'Gas_Consumption_EJ',
       'Geo_Biomass_Other_TWh', 'Hydro_Generation_TWh',
       'Nuclear_Generation_TWh', 'Solar_Generation_TWh', 'Wind_Generation_TWh',
       'Oil_Consumption_EJ', 'Consumo_Total'],
      dtype='object')

In [166]:
Energ_Hid=df[(df['Entity']=='Europe')]

In [175]:
anio=Energ_Hid.Hydro_Generation_TWh.idxmax()
anio

1393

In [177]:
print(df.Year[anio])

2013

In [ ]:
def Ret_Pregunta05():
    Energ_Hid=df[(df['Entity']=='Europe')]
    anio=Energ_Hid.Hydro_Generation_TWh.idxmax()
    return df.Year[anio]

## Ejercicio 6

In [ ]:
# Esta función recibe tres array de Numpy de 2 dimensiones cada uno, y devuelve el valor booleano
#     True si es posible realizar una multiplicación entre las tres matrices (n1 x n2 x n3),
#     y el valor booleano False si no lo es
#     Ej:
#         n1 = np.array([[0,0,0],[1,1,1],[2,2,2]])
#         n2 = np.array([[3,3],[4,4],[5,5]])
#         n3 = np.array([1,1],[2,2])
#         print(Ret_Pregunta06(n1,n2,n3))
#             True            -> Valor devuelto por la función en este ejemplo
#         print(Ret_Pregunta06(n2,n1,n3))
#             False            -> Valor devuelto por la función en este ejemplo

In [186]:
def Ret_Pregunta06(m1, m2, m3):
    if m1.shape[1]== m2.shape[0]:
        if np.dot(m1,m2).shape[1]==m3.shape[0]:
            return True
        else:
            return False
    else:
        return False

In [184]:
m1 = np.array([[0,0,0],[1,1,1],[2,2,2]])
m2 = np.array([[3,3],[4,4]])
m3 = np.array([[1,1],[2,2]])

In [187]:
Ret_Pregunta06(m1,m2,m3)

False

## Ejercicio 7

In [ ]:
# Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
#     "Fuentes_Consumo_Energia.csv".
#     Esta función debe informar cuál de la siguiente lista de países tuvo mayor generacíon de
#     energía hìdrica (Hydro_Generation_TWh) en el año 2019:
#         * Argentina
#         * Brazil
#         * Chile
#         * Colombia
#         * Ecuador
#         * Mexico
#         * Peru
#     Debe retornar el valor en un dato de tipo string.

In [203]:
df=pd.read_csv('datasets/Fuentes_Consumo_Energia.csv',sep=',')

In [226]:
mask= (df['Entity']=='Argentina') | (df['Entity']=='Brazil') | (df['Entity']=='Chile') | (df['Entity']=='Colombia')|(df['Entity']=='Ecuador')| (df['Entity']=='Mexico') | (df['Entity']=='Peru')

In [228]:
df2=df[mask]

In [229]:
mask2=(df2['Year']==2019)

In [233]:
df3=df2[mask2]

In [237]:
mask3=df3.Hydro_Generation_TWh.idxmax()
print(str(df3.Entity[mask3]))

Brazil

In [ ]:
def Ret_Pregunta07():
    mask= (df['Entity']=='Argentina') | (df['Entity']=='Brazil') | (df['Entity']=='Chile') | (df['Entity']=='Colombia')|(df['Entity']=='Ecuador')| (df['Entity']=='Mexico') | (df['Entity']=='Peru')
    df2=df[mask]
    mask2=(df2['Year']==2019)
    df3=df2[mask2]
    mask3=df3.Hydro_Generation_TWh.idxmax()
    return str(df3.Entity[mask3])

## Ejercicio 8

In [ ]:
# Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
#     "Fuentes_Consumo_Energia.csv".
#     Esta función debe informar la cantidad de entidades diferentes que están presentes en el dataset
#     retornando ese valor en un dato de tipo entero.

In [238]:
df=pd.read_csv('datasets/Fuentes_Consumo_Energia.csv', sep=',')

In [247]:
df['Entity'].unique()

array(['Africa', 'Algeria', 'Argentina', 'Asia Pacific', 'Australia',
       'Austria', 'Azerbaijan', 'Bangladesh', 'Belarus', 'Belgium',
       'Brazil', 'Bulgaria', 'CIS', 'Canada', 'Central America', 'Chile',
       'China', 'Colombia', 'Croatia', 'Cyprus', 'Czech Republic',
       'Denmark', 'Eastern Africa', 'Ecuador', 'Egypt', 'Estonia',
       'Europe', 'Europe (other)', 'Finland', 'France', 'Germany',
       'Greece', 'Hong Kong', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran', 'Iraq', 'Ireland', 'Israel', 'Italy', 'Japan',
       'Kazakhstan', 'Kuwait', 'Latvia', 'Lithuania', 'Luxembourg',
       'Macedonia', 'Malaysia', 'Mexico', 'Middle Africa', 'Middle East',
       'Morocco', 'Netherlands', 'New Zealand', 'North America', 'Norway',
       'Oman', 'Other Asia & Pacific', 'Other CIS', 'Other Caribbean',
       'Other Middle East', 'Other Northern Africa',
       'Other South America', 'Other Southern Africa', 'Pakistan', 'Peru',
       'Philippines', 'Poland', 'Portugal', 'Qatar', 'Romania', 'Russia',
       'Saudi Arabia', 'Singapore', 'Slovakia', 'Slovenia',
       'South & Central America', 'South Africa', 'South Korea', 'Spain',
       'Sri Lanka', 'Sweden', 'Switzerland', 'Taiwan', 'Thailand',
       'Trinidad and Tobago', 'Turkey', 'Turkmenistan', 'USSR', 'Ukraine',
       'United Arab Emirates', 'United Kingdom', 'United States',
       'Uzbekistan', 'Venezuela', 'Vietnam', 'Western Africa', 'World'],
      dtype=object)

In [253]:
df['Entity'].unique().size

100

In [ ]:
def Ret_Pregunta08():
    df['Entity'].unique().size

### Ejercicio 9

In [ ]:
# Debes utilizar Pandas para ingestar en un objeto Dataframe el contenido del archivo provisto
#     "datasets/Tabla1_ejercicio.csv" y "datasets/Tabla2_ejercicio.csv".
#     Esta función debe informar: score_promedio_femenino y score_promedio_masculino en formato tupla

In [254]:
df1=pd.read_csv('datasets/Tabla1_ejercicio.csv', sep=';')
df2=pd.read_csv('datasets/Tabla2_ejercicio.csv', sep=';')

In [259]:
df_general=pd.merge(df1,df2).drop_duplicates()
df_general.head()

,pers_id,sexo,edad,ingreso,situacion_lab,periodo,score
0,71906556521,F,47,35926.28125,Sin_situacion_declarada,201906,919
2,71906556521,F,47,35926.28125,Sin_situacion_declarada,201909,738
3,71906556521,F,47,35926.28125,Sin_situacion_declarada,201909,919
4,71906556521,F,47,35926.28125,Sin_situacion_declarada,201912,919
12,73861260912,F,41,16231.12207,Sin_situacion_declarada,201906,557

In [272]:
Fem=round(df_general[df_general.sexo=='F'].score.mean(),2)
Fem

630.26

In [273]:
Homb=round(df_general[df_general.sexo=='M'].score.mean(),2)
Homb

772.28

In [274]:
Media=(Fem,Homb)
Media

(630.26, 772.28)

In [ ]:
def Ret_Pregunta09():
    df1=pd.read_csv('datasets/Tabla1_ejercicio.csv', sep=';')
    df2=pd.read_csv('datasets/Tabla2_ejercicio.csv', sep=';')
    df_general=pd.merge(df1,df2).drop_duplicates()
    Fem=round(df_general[df_general.sexo=='F'].score.mean(),2)
    Homb=round(df_general[df_general.sexo=='M'].score.mean(),2)
    Media=(Fem,Homb)
    return Media

### Ejercicio 10

In [ ]:
    # Esta función recibe como parámetro un objeto de la clase Lista() definida en el archivo Lista.py.
    # Debe recorrer la lista y retornan la cantidad de nodos que posee. Utilizar el método de la clase
    # Lista llamado getCabecera()
    # Ejemplo:
    #     lis = Lista()
    #     lista.agregarElemento(1)
    #     lista.agregarElemento(2)
    #     lista.agregarElemento(3)
    #     print(Ret_Pregunta10(lista))
    #         3    -> Debe ser el valor devuelto por la función Ret_Pregunta10() en este ejemplo

In [ ]:
class Nodo():
    def __init__(self, dato):
        self.__dato = dato
        self.__siguiente = None

    def getDato(self):
        return self.__dato

    def getSiguiente(self):
        return self.__siguiente

    def setDato(self, val):
        self.__dato = val

    def setSiguiente(self, val):
        self.__siguiente = val

class Lista():
    def __init__(self):
        self.__cabecera = None

    def agregarElemento(self,dato):
        if (self.__cabecera != None):
            puntero = self.__cabecera
            while(puntero != None):
                if(puntero.getSiguiente() == None):
                    puntero.setSiguiente(Nodo(dato))
                    break
                puntero = puntero.getSiguiente()
        else:
            self.__cabecera = Nodo(dato)

    def contarElementos(self):
        if (self.__cabecera == None):
            return 0
        else:
            contador = 1
            puntero = self.__cabecera
            while(puntero.getSiguiente() != None):
                contador += 1
                puntero = puntero.getSiguiente()
            return contador

    def getCabecera(self):
        return self.__cabecera

In [282]:
def Ret_Pregunta10(lista):
    nodos=0
    elemento = lista.getCabecera()

    if elemento != None:
        nodos = 1
    else:
        return 0
    while elemento.getSiguiente() != None:
        elemento = elemento.getSiguiente()
        nodos += 1
        return nodos